:root {
    --logo-color: #2196F3;
    --logo-color2:  #000000;
    --link-color: #2196F3;
    --title-color: #212121;
    --main-text-color: #757575;
    --logo-footer-color: #FFFFFF;
    --footer-addres-color: #FFFFFF99;
}




.body{
    font-family: Roboto Medium;
}

ul{
margin: 0;
padding: 0;
list-style: none;
}


li{
list-style-type: none;
}


a{
color:currentColor;
text-decoration:none
}



/* header */
.header {
width: 1600px;
height: 80px;
flex-shrink: 0;
}


.header__logo {
}


.header__nav {
color: var(--title-color);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}


.header__nav__list {
}


.header__nav__item:hover {
color: var(--link-color);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}


.header__list {
color: var(--main-text-color);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}


.header__item:hover {
    color: var(--link-color);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}



