:root {
    --logo-color: #2196F3;
    --logo-color2:  #000000;
    --link-color: #2196F3;
    --title-color: #212121;
    --main-text-color: #757575;
    --logo-footer-color: #FFFFFF;
    --footer-addres-color: #FFFFFF99;
}




.body{
    font-family: Roboto Medium;
}



/* header */
.header {
    
}


.header__logo {
}


.header__nav {
}


.header__nav__list {
}


.header__nav__item {
}


.header__list {
}


.header__item {
}



