// mobile 480px
.team {
    background: $main-background-color;
}

.team__title {
    @include text($title-color, $main-font, 28px, 700);
    letter-spacing: 0.84px;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 60px;
}


.team__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.team__item {
    border-radius: 0px 0px 4px 4px;
    background: $main-color;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);


    &__img {
        width: 450px;
        height: 460px;
    }

    &__content {
        padding-top: 30px;
        padding-bottom: 16px;
    }

    &__title {
        @include text($title-color, $main-font, 16px, 500);
        text-align: center;
        letter-spacing: 0.48px;
        margin-bottom: 10px;
    }


    &__text {
        @include text($main-text-color, $main-font, 16px, 400);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.48px;
    }
}



.team__list__icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
}


.team__item__icons {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color $main-animation, fill $main-animation;


    &:hover,
    &:focus {
        background-color: $link-color;
    }
}


.team__item__social {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}


.team__item__icons:hover .team__item__social,
.team__item__icons:focus .team__item__social {
    fill: $logo-color;
}




// tablet 768px
@media screen and (min-width: 768px) {
    .team__list {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    
    .team__item {
        &__img {
            width: 354px;
            height: 374px;
        }
    }
}


// desctop 1200px
@media screen and (min-width: 1200px) {
    
    .team__title {
        @include text($title-color, $main-font, 36px, 700);
        letter-spacing: 1.08px;
        padding-top: 94px;
    }
    
    
    .team__list {
        padding-bottom: 94px;
    }
    
    
    .team__item {
        &__img {
            width: 270px;
            height: 260px;
        }
    }
    
    
    
    .team__list__icons {
        padding-bottom: 30px;
    }
}