.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}


.header__logo {
    @include text($link-color, $logo-font, 24px, 700);
    letter-spacing: 0.72px;
    display: flex;


    &--color {
        color: $logo-color2;
    }
}

.header__nav__list {
    display: none;
}


.header__contacts__list {
    display: none;
}


@media screen and (min-width: 480px) {
    
}


// tablet 768px
@media screen and (min-width: 768px) {
    .mobile__menu{
        display: none;
    }

    .header .container {
        padding-top: 21px;
        padding-bottom: 21px;
    }
    

    .header__nav__item--underscore {
        color: $link-color;
    }


    .header__nav__item--underscore::after {
        content: "";
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 2px;
        background: $link-color;
        position: relative;
        top: 30px;
    }


    // .header__logo--color {
    //     margin-right: 88px;
    // }


    .header__menu__icon {
        display: none
    }


    .header__nav {
        @include text($main-font, $link-color, 14px, 500);
        letter-spacing: 0.28px;
        display: flex;


        &__list {
            display: flex;
            gap: 50px;
            margin-right: 96px;
        }


        &__item__link {
            transition: color $main-animation;
        }


        &__item__link:hover {
            color: $link-color;
        }
    }



    .header__contacts__list {
        @include text($main-font, $main-text-color, 12px, 500);
        display: flex;
        flex-direction: column;
        letter-spacing: 0.24px;
        gap: 10px;
    }


    .header__contacts--item__link {
        display: flex;
        align-items: center;
        gap: 10px;
    }


    .contact__item__icons__social {
        fill: currentColor;
    }


    .header__contacts__item {
        transition: color $main-animation;
    }


    .header__contacts__item:hover,
    .header__contacts__item:focus {
        color: $link-color;
    }
}



// desctop 1200px
@media screen and (min-width: 1200px) {
    .header .container {
        padding-top: 25px;
        padding-bottom: 25px;
    }


    .header__logo {
        @include text($link-color, $logo-font, 26px, 700);
        letter-spacing: 0.78px;


        &--color {
            color: $logo-color2;
            margin-right: 93px;
        }
    }



    .header__nav__list {
        display: flex;
        gap: 50px;
        margin-right: 315px;
    }




    .header__contacts__list {
        font-size: 14px;
        letter-spacing: 0.28px;
        gap: 30px;
        flex-direction: row;
        align-items: center;
    }
}