.portfolio__section {
    margin-bottom: 48px;


    &__item {
        @include text($title-color, $main-font, 16px, 500);
        border-radius: 4px;
        background: $main-background-color;
        text-align: center;
        line-height: 162.5%;
        letter-spacing: 0.48px;
        padding: 6px 22px;
        transition: background-color $main-animation;
    }


    &__list {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 8px;
        margin-top: 94px;
    }


    &__item:hover,
    &__item:focus {
        color: $logo-color;
        background-color: $link-color;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    }
}