// Десктоп я ще не починав робити так тільки стилі переніс які були
.portfolio__section__project {
    margin-bottom: 60px;
}


.project__list {
    display: flex;
    flex-wrap: wrap;
}


.project__item__div--text {
    padding: 20px 24px;
}


.project__item {
    width: 100%;
    border: 1px solid #EEE;


    &:hover {
        border: 1px solid #EEE;
        background: $main-color;
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }


    &__title {
        @include text($title-color, $main-font, 18px, 700);
        line-height: 200%;
        letter-spacing: 1.08px;
    }


    &__text {
        @include text($main-text-color, $main-font, 16px, 400);
        line-height: 187.5%;
        letter-spacing: 0.48px;
    }


    &__img {
        width: 100%;
        position: relative;
    }


    &:hover .overlay {
        transform: translateX(0);
    }


    &__div {
        position: relative;
        overflow: hidden;
    }
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.90);
    transform: translateY(101%);
    transition: transform $main-animation;


    &__text {
        @include text($main-color, $main-font, 18px, 400);
        font-style: normal;
        line-height: 28px;
        /* 155.556% */
        letter-spacing: 0.54px;
        padding: 64px 24px;
    }
}



// tablet 768px
@media screen and (min-width: 768px) {
    .project__item {
        flex-basis: calc((100% - 1 * 30px) / 2);
    }
}


// desctop 1200px
@media screen and (min-width: 1200px) {
    .portfolio__section__project {
        margin-bottom: 94px;
    }


    .project__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }


    .project__item__div--text {
        padding: 20px 24px;
    }


    .project__item {
        margin-left: 30px;
        margin-top: 30px;
        flex-basis: calc((100% - 3 * 30px) / 3);
        border: 1px solid #EEE;


        &:hover {
            border: 1px solid #EEE;
            background: $main-color;
            box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
        }


        &__title {
            @include text($title-color, $main-font, 18px, 700);
            line-height: 200%;
            letter-spacing: 1.08px;
        }


        &__text {
            @include text($main-text-color, $main-font, 16px, 400);
            line-height: 187.5%;
            letter-spacing: 0.48px;
        }


        &__img {
            position: relative;
        }


        &:hover .overlay {
            transform: translateX(0);
        }


        &__div {
            position: relative;
            overflow: hidden;
        }
    }



    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(33, 150, 243, 0.90);
        transform: translateY(101%);
        transition: transform $main-animation;


        &__text {
            @include text($main-color, $main-font, 18px, 400);
            font-style: normal;
            line-height: 28px;
            /* 155.556% */
            letter-spacing: 0.54px;
            padding: 64px 24px;
        }
    }
}